<!-- prevent overlap -->
<div class="container">
    <div class="row mb-5">&nbsp;</div>
</div>

<footer>
    <div class="navbar fixed-bottom bg-light">
        <div class="container-fluid">
            <p class="navbar-brand">Cookbook</p>
            <p>Keep cooking</p>
        </div>
    </div>
</footer>

</body>
</html>