<html>
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="author" content="tobbecnet">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML, CSS, JavaScript">

    <!-- Origin https://bootswatch.com/ Spacelab theme. -->
    <!-- TODO Discard link to googleapis.com font. Minimize. -->
    <link href="/css/bootstrap.css" rel="stylesheet">

</head>
<body>

    <nav class="navbar fixed-top bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">{{title}}</a>
        </div>
    </nav>