{{> header}}

<div class="pt-4 text-center bg-body-tertiary">
    <h1 class="m-3">{{title}}</h1>
    <h4 class="m-2">{{subtitle}}</h4>
</div>

<div class="container">
    {{#meals}}
    <div class="row my-3">
        <div class="col-sm-3">
            {{#photoCameraMotives.value}}
            <img class="img-fluid" src="/photoMotive/Small/{{id}}" />
            {{/photoCameraMotives.value}}
        </div>
        <div class="col-sm-3">
            <a href="/meal/{{id}}">{{title}}</a>
        </div>
        <div class="col">
            {{introText}}
        </div>
    </div>
    {{/meals}}
</div>

{{> footer}}