{{> header}}

<div class="p-5 text-center bg-body-tertiary">
    <h1 class="m-3">{{title}}</h1>
    <h4 class="m-2">{{subtitle}}</h4>
</div>

<div class="container">
    {{#meals}}
    <div class="row my-3">
        <div class="col">
            <img src="/photoMotive/Small/{{photoCameraMotives.0.id}}" />
        </div>
        <div class="col-sm-3">
            <a href="/meal/{{id}}">{{title}}</a>
        </div>
        <div class="col">
            {{introText}}
        </div>
    </div>
    {{/meals}}
</div>

{{> footer}}