{{> header}}

<div class="p-5 text-center bg-body-tertiary">
    <h1 class="m-3">{{title}}</h1>
</div>

<div class="container">
    {{#steps}}
    <div class="row my-3">

        <div class="col">
            {{stepDescription}}
        </div>
    </div>
    {{/steps}}
</div>

{{> footer}}